@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poor+Story&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #fff;
  --surface: #0D1322;
  --secondary: #004ab3;
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Poor Story", cursive;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--surface);
  width: 100%;
  height: 8vmin;
}
header .callSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 100%;
  margin: 3.5vmin;
}
header .callSection i {
  margin-right: 2.5vmin;
  color: var(--primary);
  font-size: 2.5vmin;
}
header .callSection img {
  margin-right: 1.5vmin;
}
header .callSection p {
  margin-right: 2.5vmin;
  color: var(--primary);
  font-family: var(--primary-font);
  font-size: 1.75vmin;
  font-weight: 700;
}
header .mailSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 100%;
  margin: 3.5vmin;
}
header .mailSection i {
  margin-left: 2.5vmin;
  color: var(--primary);
}
header .mailSection p {
  margin-left: 2vmin;
  color: var(--primary);
  font-family: var(--primary-font);
  font-size: 1.75vmin;
  font-weight: 500;
}

.landing {
  min-height: calc(100vh - 8vmin);
  background-color: var(--secondary);
  padding: 5vmin;
  position: relative;
  mix-blend-mode: overlay;
  -webkit-clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 96%, 0 0);
          clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 96%, 0 0);
  overflow-x: hidden;
}
.landing::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/Landing.png");
  opacity: 0.2;
}
.landing .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  z-index: 20;
}
.landing .nav .logoSec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  z-index: 20;
}
.landing .nav .logoSec img {
  margin-right: 1vmin;
}
.landing .nav .logoSec p {
  color: var(--primary);
  font-family: var(--primary-font);
  font-size: 2.5vmin;
  font-weight: 700;
}
.landing .nav .navSec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  z-index: 20;
}
.landing .nav .navSec li {
  list-style: none;
  margin: 0 3vmin;
  font-family: var(--primary-font);
  font-size: 1.75vmin;
  font-weight: 500;
  color: var(--primary);
  cursor: pointer;
}
.landing .division {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 20;
  width: 100%;
  height: 100%;
  margin-top: 7vmin;
}
.landing .division .partLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  z-index: 20;
}
.landing .division .partLeft .textBox {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 75%;
  z-index: 20;
}
.landing .division .partLeft .textBox h1 {
  font-family: var(--primary-font);
  font-size: 6vmin;
  line-height: 7vmin;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 5vmin;
  text-align: left;
}
.landing .division .partLeft .textBox .searchBox {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 90%;
  z-index: 20;
  background-color: white;
  border-radius: 8px;
  padding: 1vmin;
  height: 7.5vmin;
  border: 5px solid rgba(191, 199, 223, 0.2);
  border-radius: 3px;
  padding: 0 2vmin;
}
.landing .division .partLeft .textBox .searchBox input {
  width: 100%;
  border: none;
  outline: none;
  font-family: var(--primary-font);
  font-size: 2vmin;
  font-weight: 500;
}
.landing .division .partLeft .textBox .searchBox i {
  color: var(--secondary);
  font-size: 2.5vmin;
  cursor: pointer;
}
.landing .division .partLeft .imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 50%;
  z-index: 20;
  margin-top: 10vmin;
  transform: scale(0.8);
}
.landing .division .partLeft .imgBox p {
  font-size: 7vmin;
  color: var(--primary);
  font-weight: 500;
  margin: 0 2vmin;
}
.landing .division .partRight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  z-index: 20;
}
.landing .division .partRight .swiper {
  width: 300px;
  height: 400px;
  margin-top: 3vmin;
}
.landing .division .partRight .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  transition: all 0.5s ease;
  background-color: white;
  opacity: 0.5;
}
.landing .division .partRight .swiper .swiper-slide b {
  font-size: 2.8vmin;
  margin-bottom: 1vmin;
  font-weight: 600;
  font-family: var(--primary-font);
}
.landing .division .partRight .swiper .swiper-slide p {
  font-size: 2.5vmin;
  margin-bottom: 1vmin;
  font-weight: 400;
  font-family: var(--primary-font);
}
.landing .division .partRight .swiper .swiper-slide p span {
  margin-left: 0.5vmin;
}
.landing .division .partRight .swiper .swiper-slide p span i {
  color: #009F10;
}
.landing .division .partRight .swiper .swiper-slide a {
  font-family: var(--primary-font);
  font-size: 2.3vmin;
  font-weight: 600;
  color: #1E5AFA;
  margin: 2vmin;
  cursor: pointer;
}
.landing .division .partRight .swiper .swiper-slide-active {
  opacity: 1;
  transition: all 0.5s ease;
}

.sponsors {
  padding: 5vmin;
  position: relative;
}
.sponsors .box {
  position: absolute;
  top: 0;
  left: 50%;
  background-color: var(--primary);
  transform: translate(-50%, -50%);
  padding: 1.5vmin;
  width: 20vmin;
  border-radius: 25px;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 2vmin;
  font-weight: 500;
}
.sponsors .imgBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.sponsors .imgBox img {
  margin-top: 2vmin;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5vmin;
  background: #EDF6FF;
}
.features h1 {
  font-family: var(--primary-font);
  font-size: 4vmin;
  font-weight: 400;
  margin-bottom: 10vmin;
}
.features .featuresBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5vmin;
  padding: 0 10vmin;
  width: 100%;
}
.features .featuresBox .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2vmin;
  border-right: 1px solid #A1A1A1;
}
.features .featuresBox .box:last-child {
  border-right: none;
}
.features .featuresBox .box b {
  font-family: var(--primary-font);
  font-size: 2.5vmin;
  font-weight: 600;
  margin-bottom: 2vmin;
}
.features .featuresBox .box p {
  font-family: var(--primary-font);
  font-size: 2vmin;
  line-height: 2.5vmin;
  font-weight: 400;
  text-align: center;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5vmin;
}
.services h1 {
  font-family: var(--primary-font);
  font-size: 4vmin;
  font-weight: 400;
  margin-bottom: 10vmin;
}
.services .serviceBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5vmin;
  padding: 0 10vmin;
  width: 100%;
}
.services .serviceBox .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2vmin;
  border-right: none;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 54vmin;
  height: 70vmin;
}
.services .serviceBox b {
  font-family: var(--primary-font);
  font-size: 3vmin;
  font-weight: 600;
  margin-bottom: 2vmin;
}
.services .serviceBox .line {
  width: 16vmin;
  height: 0.5vmin;
  background-color: #288FF6;
  margin: 2vmin;
}
.services .serviceBox p {
  font-family: var(--primary-font);
  font-size: 2vmin;
  line-height: 2.5vmin;
  width: 75%;
  font-weight: 400;
  margin-top: 2vmin;
  text-align: center;
}

.report {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5vmin;
  background: linear-gradient(180deg, #1F7CFF 2.08%, #1E5AFA 100%);
}
.report h1 {
  font-family: var(--primary-font);
  color: var(--primary);
  font-size: 4vmin;
  font-weight: 400;
  margin-bottom: 10vmin;
}
.report .categoryBox {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1.5vmin;
  padding: 0 10vmin;
  width: 95%;
  margin-bottom: 10vmin;
  border-bottom: 1px solid #fff;
}
.report .categoryBox li {
  list-style: none;
  font-family: var(--primary-font);
  font-size: 2.5vmin;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  cursor: pointer;
  padding: 2.5vmin 0;
}
.report .categoryBox li.active {
  position: relative;
  color: var(--primary);
}
.report .categoryBox li.active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 0.5vmin;
  border-bottom: 3px solid #FFFFFF;
  filter: drop-shadow(0px 3px 0px #1F7CFF);
}
.report .division {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-bottom: 5vmin;
}
.report .division .partLeft {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  height: 100%;
  width: 50%;
}
.report .division .partLeft h1 {
  font-family: var(--primary-font);
  font-size: 12vmin;
  font-weight: 700;
  margin-bottom: 5vmin;
  text-align: left;
}
.report .division .partLeft p {
  font-family: var(--primary-font);
  color: var(--primary);
  font-size: 4vmin;
  line-height: 7vmin;
  font-weight: 500;
  margin-top: 2vmin;
  text-align: left;
}
.report .division .partRight {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  height: 100%;
  width: 50%;
}
.report .division .partRight .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 84vmin;
  min-height: 12vmin;
  padding: 2vmin;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  margin-bottom: 5vmin;
}
.report .division .partRight .box b {
  font-family: var(--primary-font);
  font-size: 2.5vmin;
  font-weight: 600;
  margin-bottom: 0.5vmin;
}
.report .division .partRight .box p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-family: var(--primary-font);
  font-size: 2vmin;
  line-height: 2.5vmin;
  font-weight: 400;
  margin-top: 2vmin;
  text-align: left;
  width: 100%;
  color: #2F4360;
}
.report .division .partRight p {
  font-family: var(--primary-font);
  font-size: 2vmin;
  line-height: 2.5vmin;
  font-weight: 400;
  margin-top: 2vmin;
  text-align: left;
  width: 100%;
}
.report .division .partRight p a {
  color: var(--primary);
  cursor: pointer;
}

.review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5vmin;
  height: 100%;
  background: #EDF6FF;
}
.review h1 {
  font-family: var(--primary-font);
  color: var(--surface);
  font-size: 4vmin;
  font-weight: 400;
  margin-bottom: 10vmin;
  margin-top: 5vmin;
}
.review .swiper {
  width: 100%;
  height: 60vmin;
  overflow-y: visible;
}
.review .swiper .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: visible;
}
.review .swiper .swiper-slide .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vmin;
  width: 50vmin;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
}
.review .swiper .swiper-slide .box img {
  margin-bottom: 5vmin;
}
.review .swiper .swiper-slide .box b {
  font-family: var(--primary-font);
  font-size: 2.5vmin;
  font-weight: 600;
  margin-bottom: 0.5vmin;
}
.review .swiper .swiper-slide .box p {
  font-family: var(--primary-font);
  font-size: 2vmin;
  line-height: 2.5vmin;
  font-weight: 400;
  margin-top: 0.5vmin;
}
.review .swiper .swiper-slide .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 40vmin;
  width: 50%;
  padding: 0 5vmin;
  margin-left: 10vmin;
}
.review .swiper .swiper-slide .text .q {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  height: 40vmin;
  font-size: 30vmin;
  font-family: var(--secondary-font);
}
.review .swiper .swiper-slide .text .q:last-child {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
}
.review .swiper .swiper-slide .text p {
  font-family: var(--primary-font);
  font-size: 2.5vmin;
  line-height: 3.5vmin;
  font-weight: 400;
  margin-top: 0.5vmin;
  text-align: left;
  width: 70%;
  margin: 0 7vmin;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5vmin;
  height: 100%;
}
.media h1 {
  font-family: var(--primary-font);
  color: var(--surface);
  font-size: 4vmin;
  font-weight: 400;
  margin-bottom: 10vmin;
  margin-top: 5vmin;
}
.media .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #E0E0E0;
  padding: 5vmin 0;
}
.media .box .logo {
  width: 30%;
}
.media .box p {
  width: 60%;
  padding-left: 10vmin;
  font-family: var(--primary-font);
  font-size: 2.5vmin;
  line-height: 4vmin;
  font-weight: 400;
  margin-top: 2vmin;
}
.media .box p a {
  color: var(--surface);
  cursor: pointer;
}

.footer {
  background: #142246;
  padding: 12vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .upper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5vmin;
  width: 100%;
}
.footer .upper .cat {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.footer .upper .cat b {
  font-family: var(--primary-font);
  font-size: 2.5vmin;
  font-weight: 600;
  margin-bottom: 2.5vmin;
  color: #FFFFFF;
}
.footer .upper .cat li {
  font-family: var(--primary-font);
  font-size: 1.75vmin;
  line-height: 1.52vmin;
  font-weight: 300;
  margin-top: 2vmin;
  color: rgba(255, 255, 255, 0.7058823529);
  cursor: pointer;
  list-style: none;
  cursor: pointer;
}
.footer .line {
  width: 105%;
  height: 1px;
  background: rgba(255, 255, 255, 0.7058823529);
  margin: 5vmin 0;
}
.footer .down {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5vmin;
  width: 100%;
}
.footer .down .box1 {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
}
.footer .down .box1 img {
  transform: scale(1.2) translateY(1vmin);
}
.footer .down .box1 p {
  font-family: var(--primary-font);
  font-size: 1.75vmin;
  line-height: 2.5vmin;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7058823529);
  cursor: pointer;
  list-style: none;
  cursor: pointer;
  margin-left: 3vmin;
}
.footer .down .box {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.footer .down .box b {
  font-family: var(--primary-font);
  font-size: 2.5vmin;
  font-weight: 600;
  margin-bottom: 2.5vmin;
  color: #FFFFFF;
}
.footer .down .box li {
  font-family: var(--primary-font);
  font-size: 1.75vmin;
  line-height: 1.52vmin;
  font-weight: 300;
  margin-top: 2vmin;
  color: rgba(255, 255, 255, 0.7058823529);
  cursor: pointer;
  list-style: none;
  cursor: pointer;
}
.footer .down .box4 b {
  font-family: var(--primary-font);
  font-size: 2.5vmin;
  font-weight: 600;
  margin-bottom: 2.5vmin;
  color: var(--primary);
}
.footer .down .box4 .sub {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin-top: 3vmin;
}
.footer .down .box4 .sub i {
  font-size: 3vmin;
  color: var(--primary);
  margin-right: 2vmin;
}
.footer .down .box4 .sub p {
  font-family: var(--primary-font);
  font-size: 1.75vmin;
  line-height: 1.52vmin;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7058823529);
  cursor: pointer;
}
.footer .down .box4 .sub p img {
  margin-right: 2vmin;
  margin-top: 1vmin;
}
.footer .down .box4 .sub .follow {
  color: var(--primary);
  font-weight: 500;
}
.footer .down .box4 .sub .icons {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin-left: 5vmin;
  color: var(--primary);
}
.footer .down .box4 .sub .icons i {
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .landing .nav .logoSec p {
    display: none;
  }
  .landing .division {
    flex-direction: column;
    margin-top: 0;
  }
  .landing .division .partLeft {
    width: 100%;
  }
  .landing .division .partLeft .textBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .landing .division .partLeft .textBox h1 {
    font-size: 6vmin;
    line-height: 8.5vmin;
    margin-top: 12vmin;
    text-align: center;
  }
  .landing .division .partLeft .textBox .searchBox {
    height: 10vmin;
    width: 85%;
  }
  .landing .division .partLeft .textBox .searchBox input {
    font-size: 3vmin;
  }
  .landing .division .partLeft .textBox .searchBox i {
    font-size: 4vmin;
  }
  .landing .division .partLeft .imgBox {
    width: 100%;
    transform: scale(0.7);
    margin-top: 5vmin;
  }
  .landing .division .partLeft .imgBox p {
    font-size: 7vmin;
  }
  .landing .division .partRight {
    margin-top: 9vmin;
  }
  .landing .division .partRight .swiper {
    width: 250px;
    height: 400px;
    margin-top: 5vmin;
    margin-bottom: 8vmin;
  }
  .sponsors .box {
    width: 30vmin;
    font-size: 3vmin;
  }
  .sponsors .imgBox img {
    transform: scale(0.8);
  }
  .features h1 {
    font-size: 5.5vmin;
    margin: 5vmin 0;
  }
  .features .featuresBox {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5vmin;
    padding: 0 5vmin;
  }
  .features .featuresBox .box {
    padding: 2vmin;
    border-right: none;
  }
  .features .featuresBox .box:last-child {
    border-right: none;
  }
  .services h1 {
    font-size: 5.5vmin;
    margin: 5vmin 0;
  }
  .services .serviceBox {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8vmin;
    padding: 0 5vmin;
    width: 100%;
    margin-top: 7vmin;
  }
  .services .serviceBox .box {
    padding: 5vmin;
    height: 100%;
    width: 100%;
  }
  .services .serviceBox .box b {
    font-size: 4vmin;
  }
  .services .serviceBox .box p {
    font-size: 3vmin;
    width: 75%;
    line-height: 4vmin;
  }
  .report h1 {
    font-size: 5vmin;
    margin-top: 5vmin;
  }
  .report .categoryBox {
    padding: 0vmin;
    width: 97%;
    margin-bottom: 2vmin;
  }
  .report .categoryBox li {
    font-size: 2vmin;
  }
  .report .division {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .report .division .partLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .report .division .partLeft h1 {
    text-align: center;
    font-size: 10vmin;
    margin-bottom: 2.5vmin;
  }
  .report .division .partLeft p {
    text-align: center;
    font-size: 4vmin;
    line-height: 5vmin;
    font-weight: 400;
  }
  .report .division .partRight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 12vmin;
  }
  .report .division .partRight p {
    text-align: center;
  }
  .review .swiper {
    height: 110vmin;
  }
  .review .swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .review .swiper .swiper-slide .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50vmin;
    width: 100%;
    padding: 0 5vmin;
    margin-left: 0vmin;
  }
  .review .swiper .swiper-slide .text .q {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    height: 40vmin;
    transform: scale(0.8);
    font-family: var(--secondary-font);
  }
  .review .swiper .swiper-slide .text .q:last-child {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
  }
  .review .swiper .swiper-slide .text p {
    font-family: var(--primary-font);
    font-size: 3vmin;
    line-height: 4.5vmin;
    font-weight: 400;
    margin-top: 0.5vmin;
    text-align: left;
    width: 75%;
    margin: 0 3vmin;
    text-align: center;
  }
  .media .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #E0E0E0;
    padding: 5vmin 0;
  }
  .media .box .logo {
    width: 20%;
    display: grid;
    place-items: center;
  }
  .media .box .logo img {
    transform: scale(0.35) translateX(-100%);
  }
  .footer {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
  .footer b {
    font-size: 2vmin;
    font-weight: 400;
    line-height: 3vmin;
  }
  .footer li {
    font-size: 1.75vmin;
    line-height: 2.5vmin;
    font-weight: 300;
    margin-top: 1.5vmin;
  }
  .footer .down .box1 p {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */