@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poor+Story&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #fff;
    --surface: #0D1322;
    --secondary: #004ab3;
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Poor Story', cursive;
}

header {
    @include flexprops(row, space-between, center);
    background-color: var(--surface);
    width: 100%;
    height: 8vmin;

    .callSection {
        @include flexprops(row, space-between, center);
        height: 100%;
        margin: 3.5vmin;

        i {
            margin-right: 2.5vmin;
            color: var(--primary);
            font-size: 2.5vmin;
        }

        img {
            margin-right: 1.5vmin;
        }

        p {
            margin-right: 2.5vmin;
            color: var(--primary);
            font-family: var(--primary-font);
            font-size: 1.75vmin;
            font-weight: 700;
        }
    }

    .mailSection {
        @include flexprops(row, space-between, center);
        height: 100%;
        margin: 3.5vmin;

        i {
            margin-left: 2.5vmin;
            color: var(--primary);
        }

        p {
            margin-left: 2vmin;
            color: var(--primary);
            font-family: var(--primary-font);
            font-size: 1.75vmin;
            font-weight: 500;
        }
    }
}

.landing {
    min-height: calc(100vh - 8vmin);
    background-color: var(--secondary);
    padding: 5vmin;
    position: relative;
    mix-blend-mode: overlay;
    clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 96%, 0 0);
    overflow-x: hidden;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/Landing.png");
        opacity: 0.2;
    }

    .nav {
        @include flexprops(row, space-between, center);
        width: 100%;
        z-index: 20;

        .logoSec {
            @include flexprops(row, space-between, center);
            z-index: 20;

            img {
                margin-right: 1vmin;
            }

            p {
                color: var(--primary);
                font-family: var(--primary-font);
                font-size: 2.5vmin;
                font-weight: 700;
            }
        }

        .navSec {
            @include flexprops(row, space-between, center);
            z-index: 20;

            li {
                list-style: none;
                margin: 0 3vmin;
                font-family: var(--primary-font);
                font-size: 1.75vmin;
                font-weight: 500;
                color: var(--primary);
                cursor: pointer;
            }
        }
    }

    .division {
        @include flexprops(row, center, center);
        z-index: 20;
        width: 100%;
        height: 100%;
        margin-top: 7vmin;

        .partLeft {
            @include flexprops(column, center, center);
            width: 100%;
            z-index: 20;

            .textBox {
                @include flexprops(column, start, start);
                width: 75%;
                z-index: 20;

                h1 {
                    font-family: var(--primary-font);
                    font-size: 6vmin;
                    line-height: 7vmin;
                    font-weight: 600;
                    color: var(--primary);
                    margin-bottom: 5vmin;
                    text-align: left;
                }

                .searchBox {
                    @include flexprops(row, start, center);
                    width: 90%;
                    z-index: 20;
                    background-color: white;
                    border-radius: 8px;
                    padding: 1vmin;
                    height: 7.5vmin;
                    border: 5px solid rgba(191, 199, 223, 0.2);
                    border-radius: 3px;
                    padding: 0 2vmin;

                    input {
                        width: 100%;
                        border: none;
                        outline: none;
                        font-family: var(--primary-font);
                        font-size: 2vmin;
                        font-weight: 500;
                    }

                    i {
                        color: var(--secondary);
                        font-size: 2.5vmin;
                        cursor: pointer;
                    }
                }
            }

            .imgBox {
                @include flexprops(row, center, center);
                width: 50%;
                z-index: 20;
                margin-top: 10vmin;
                transform: scale(0.8);

                p {
                    font-size: 7vmin;
                    color: var(--primary);
                    font-weight: 500;
                    margin: 0 2vmin;
                }
            }

        }

        .partRight {
            @include flexprops(column, center, center);
            width: 100%;
            z-index: 20;

            .swiper {

                width: 300px;
                height: 400px;
                margin-top: 3vmin;

                .swiper-slide {
                    @include flexprops(column, center, center);
                    border-radius: 18px;
                    font-size: 22px;
                    font-weight: bold;
                    transition: all 0.5s ease;
                    background-color: white;
                    opacity: 0.5;

                    b {
                        font-size: 2.8vmin;
                        margin-bottom: 1vmin;
                        font-weight: 600;
                        font-family: var(--primary-font);
                    }

                    p {
                        font-size: 2.5vmin;
                        margin-bottom: 1vmin;
                        font-weight: 400;
                        font-family: var(--primary-font);

                        span {
                            margin-left: 0.5vmin;

                            i {
                                color: #009F10;
                            }
                        }
                    }

                    a {
                        font-family: var(--primary-font);
                        font-size: 2.3vmin;
                        font-weight: 600;
                        color: #1E5AFA;
                        margin: 2vmin;
                        cursor: pointer;

                    }
                }

                .swiper-slide-active {
                    opacity: 1;
                    transition: all 0.5s ease;
                }
            }
        }
    }
}

.sponsors {
    padding: 5vmin;
    position: relative;

    .box {
        position: absolute;
        top: 0;
        left: 50%;
        background-color: var(--primary);
        transform: translate(-50%, -50%);
        padding: 1.5vmin;
        width: 20vmin;
        border-radius: 25px;
        text-align: center;
        font-family: var(--primary-font);
        font-size: 2vmin;
        font-weight: 500;
    }

    .imgBox {
        @include flexprops(row, space-evenly, center);
        flex-wrap: wrap;
        width: 100%;
        height: 100%;

        img {
            margin-top: 2vmin;
        }

    }
}

.features {
    @include flexprops(column, center, center);
    padding: 5vmin;
    background: #EDF6FF;

    h1 {
        font-family: var(--primary-font);
        font-size: 4vmin;
        font-weight: 400;
        margin-bottom: 10vmin;
    }

    .featuresBox {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5vmin;
        padding: 0 10vmin;
        width: 100%;

        .box {
            @include flexprops(column, center, center);
            width: 100%;
            height: 100%;
            padding: 2vmin;
            border-right: 1px solid #A1A1A1;

            &:last-child {
                border-right: none;
            }

            b {
                font-family: var(--primary-font);
                font-size: 2.5vmin;
                font-weight: 600;
                margin-bottom: 2vmin;
            }

            p {
                font-family: var(--primary-font);
                font-size: 2vmin;
                line-height: 2.5vmin;
                font-weight: 400;
                text-align: center;
            }
        }
    }
}

.services {
    @include flexprops(column, center, center);
    padding: 5vmin;

    h1 {
        font-family: var(--primary-font);
        font-size: 4vmin;
        font-weight: 400;
        margin-bottom: 10vmin;
    }

    .serviceBox {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5vmin;
        padding: 0 10vmin;
        width: 100%;

        .box {
            @include flexprops(column, center, center);
            width: 100%;
            height: 100%;
            padding: 2vmin;
            border-right: none;
            box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            width: 54vmin;
            height: 70vmin;
        }

        b {
            font-family: var(--primary-font);
            font-size: 3vmin;
            font-weight: 600;
            margin-bottom: 2vmin;
        }

        .line {
            width: 16vmin;
            height: 0.5vmin;
            background-color: #288FF6;
            margin: 2vmin;
        }

        p {
            font-family: var(--primary-font);
            font-size: 2vmin;
            line-height: 2.5vmin;
            width: 75%;
            font-weight: 400;
            margin-top: 2vmin;
            text-align: center;
        }
    }
}

.report {
    @include flexprops(column, center, center);
    padding: 5vmin;
    background: linear-gradient(180deg, #1F7CFF 2.08%, #1E5AFA 100%);

    h1 {
        font-family: var(--primary-font);
        color: var(--primary);
        font-size: 4vmin;
        font-weight: 400;
        margin-bottom: 10vmin;
    }

    .categoryBox {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1.5vmin;
        padding: 0 10vmin;
        width: 95%;
        margin-bottom: 10vmin;
        border-bottom: 1px solid #fff;

        li {
            list-style: none;
            font-family: var(--primary-font);
            font-size: 2.5vmin;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.6);
            text-align: center;
            cursor: pointer;
            padding: 2.5vmin 0;
        }

        li.active {
            position: relative;
            color: var(--primary);

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 70%;
                height: 0.5vmin;
                border-bottom: 3px solid #FFFFFF;
                filter: drop-shadow(0px 3px 0px #1F7CFF);
            }
        }
    }

    .division {
        @include flexprops(row, space-around, center);
        width: 100%;
        height: 100%;
        padding-bottom: 5vmin;

        .partLeft {
            @include flexprops(column, start, start);
            height: 100%;
            width: 50%;

            h1 {
                font-family: var(--primary-font);
                font-size: 12vmin;
                font-weight: 700;
                margin-bottom: 5vmin;
                text-align: left;
            }

            p {
                font-family: var(--primary-font);
                color: var(--primary);
                font-size: 4vmin;
                line-height: 7vmin;
                font-weight: 500;
                margin-top: 2vmin;
                text-align: left;
            }
        }

        .partRight {
            @include flexprops(column, center, start);
            height: 100%;
            width: 50%;

            .box {
                @include flexprops(column, center, center);
                width: 84vmin;
                min-height: 12vmin;
                padding: 2vmin;
                background: #FFFFFF;
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
                border-radius: 7px;
                margin-bottom: 5vmin;

                b {
                    font-family: var(--primary-font);
                    font-size: 2.5vmin;
                    font-weight: 600;
                    margin-bottom: 0.5vmin;
                }

                p {
                    @include flexprops(row, space-between, center);
                    font-family: var(--primary-font);
                    font-size: 2vmin;
                    line-height: 2.5vmin;
                    font-weight: 400;
                    margin-top: 2vmin;
                    text-align: left;
                    width: 100%;
                    color: #2F4360;
                }
            }

            p {
                font-family: var(--primary-font);
                font-size: 2vmin;
                line-height: 2.5vmin;
                font-weight: 400;
                margin-top: 2vmin;
                text-align: left;
                width: 100%;

                a {
                    color: var(--primary);
                    cursor: pointer;
                }
            }
        }
    }

}

.review {
    @include flexprops(column, center, center);
    padding: 5vmin;
    height: 100%;
    background: #EDF6FF;

    h1 {
        font-family: var(--primary-font);
        color: var(--surface);
        font-size: 4vmin;
        font-weight: 400;
        margin-bottom: 10vmin;
        margin-top: 5vmin;
    }

    .swiper {
        width: 100%;
        height: 60vmin;
        overflow-y: visible;

        .swiper-slide {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow-y: visible;

            .box {
                @include flexprops(column, center, center);
                height: 50vmin;
                width: 50vmin;
                background: #FFFFFF;
                box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
                border-radius: 24px;

                img {
                    margin-bottom: 5vmin;
                }

                b {
                    font-family: var(--primary-font);
                    font-size: 2.5vmin;
                    font-weight: 600;
                    margin-bottom: 0.5vmin;
                }

                p {
                    font-family: var(--primary-font);
                    font-size: 2vmin;
                    line-height: 2.5vmin;
                    font-weight: 400;
                    margin-top: 0.5vmin;
                }
            }

            .text {
                @include flexprops(row, center, center);
                height: 40vmin;
                width: 50%;
                padding: 0 5vmin;
                margin-left: 10vmin;

                .q {
                    @include flexprops(column, start, start);
                    height: 40vmin;
                    font-size: 30vmin;
                    font-family: var(--secondary-font);

                    &:last-child {
                        @include flexprops(column, end, end);
                    }
                }

                p {
                    font-family: var(--primary-font);
                    font-size: 2.5vmin;
                    line-height: 3.5vmin;
                    font-weight: 400;
                    margin-top: 0.5vmin;
                    text-align: left;
                    width: 70%;
                    margin: 0 7vmin;
                }
            }
        }
    }

}

.media {
    @include flexprops(column, center, center);
    padding: 5vmin;
    height: 100%;

    h1 {
        font-family: var(--primary-font);
        color: var(--surface);
        font-size: 4vmin;
        font-weight: 400;
        margin-bottom: 10vmin;
        margin-top: 5vmin;
    }

    .box {
        @include flexprops(row, center, center);
        border-bottom: 1px solid #E0E0E0;
        padding: 5vmin 0;

        .logo {
            width: 30%;
        }

        p {
            width: 60%;
            padding-left: 10vmin;
            font-family: var(--primary-font);
            font-size: 2.5vmin;
            line-height: 4vmin;
            font-weight: 400;
            margin-top: 2vmin;

            a {
                color: var(--surface);
                cursor: pointer;
            }
        }
    }
}

.footer {
    background: #142246;
    padding: 12vmin;
    @include flexprops(column, center, center);

    .upper {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5vmin;
        width: 100%;

        .cat {
            @include flexprops(column, start, start);

            b {
                font-family: var(--primary-font);
                font-size: 2.5vmin;
                font-weight: 600;
                margin-bottom: 2.5vmin;
                color: #FFFFFF;
            }

            li {
                font-family: var(--primary-font);
                font-size: 1.75vmin;
                line-height: 1.52vmin;
                font-weight: 300;
                margin-top: 2vmin;
                color: #ffffffb4;
                cursor: pointer;
                list-style: none;
                cursor: pointer;
            }
        }
    }

    .line {
        width: 105%;
        height: 1px;
        background: #ffffffb4;
        margin: 5vmin 0;
    }

    .down {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5vmin;
        width: 100%;

        .box1 {
            @include flexprops(row, start, start);

            img {
                transform: scale(1.2) translateY(1vmin);
            }

            p {
                font-family: var(--primary-font);
                font-size: 1.75vmin;
                line-height: 2.5vmin;
                font-weight: 300;
                color: #ffffffb4;
                cursor: pointer;
                list-style: none;
                cursor: pointer;
                margin-left: 3vmin;
            }
        }

        .box {
            @include flexprops(column, start, start);

            b {
                font-family: var(--primary-font);
                font-size: 2.5vmin;
                font-weight: 600;
                margin-bottom: 2.5vmin;
                color: #FFFFFF;
            }

            li {
                font-family: var(--primary-font);
                font-size: 1.75vmin;
                line-height: 1.52vmin;
                font-weight: 300;
                margin-top: 2vmin;
                color: #ffffffb4;
                cursor: pointer;
                list-style: none;
                cursor: pointer;
            }
        }

        .box4 {
            b {
                font-family: var(--primary-font);
                font-size: 2.5vmin;
                font-weight: 600;
                margin-bottom: 2.5vmin;
                color: var(--primary);
            }

            .sub {
                @include flexprops(row, start, center);
                margin-top: 3vmin;

                i {
                    font-size: 3vmin;
                    color: var(--primary);
                    margin-right: 2vmin;
                }

                p {
                    font-family: var(--primary-font);
                    font-size: 1.75vmin;
                    line-height: 1.52vmin;
                    font-weight: 300;
                    color: #ffffffb4;
                    cursor: pointer;

                    img {
                        margin-right: 2vmin;
                        margin-top: 1vmin;
                    }
                }

                .follow {
                    color: var(--primary);
                    font-weight: 500
                }

                .icons {
                    @include flexprops(row, start, center);
                    margin-left: 5vmin;
                    color: var(--primary);
                    i{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .landing {
        .nav {
            .logoSec {
                p {
                    display: none;
                }
            }
        }

        .division {
            flex-direction: column;
            margin-top: 0;

            .partLeft {
                width: 100%;

                .textBox {
                    @include flexprops(column, center, center);
                    width: 100%;

                    h1 {
                        font-size: 6vmin;
                        line-height: 8.5vmin;
                        margin-top: 12vmin;
                        text-align: center;

                    }

                    .searchBox {
                        height: 10vmin;
                        width: 85%;

                        input {
                            font-size: 3vmin;
                        }

                        i {
                            font-size: 4vmin;
                        }
                    }
                }

                .imgBox {
                    width: 100%;
                    transform: scale(0.7);
                    margin-top: 5vmin;

                    p {
                        font-size: 7vmin;
                    }
                }
            }

            .partRight {
                margin-top: 9vmin;

                .swiper {

                    width: 250px;
                    height: 400px;
                    margin-top: 5vmin;
                    margin-bottom: 8vmin;

                }
            }
        }
    }

    .sponsors {

        .box {
            width: 30vmin;
            font-size: 3vmin;
        }

        .imgBox {
            img {
                transform: scale(0.8);
            }
        }
    }

    .features {

        h1 {
            font-size: 5.5vmin;
            margin: 5vmin 0;

        }

        .featuresBox {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 5vmin;
            padding: 0 5vmin;

            .box {
                padding: 2vmin;
                border-right: none;

                &:last-child {
                    border-right: none;
                }
            }
        }
    }

    .services {

        h1 {
            font-size: 5.5vmin;
            margin: 5vmin 0;

        }

        .serviceBox {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 8vmin;
            padding: 0 5vmin;
            width: 100%;
            margin-top: 7vmin;

            .box {
                padding: 5vmin;
                height: 100%;
                width: 100%;

                b {
                    font-size: 4vmin;
                }

                p {
                    font-size: 3vmin;
                    width: 75%;
                    line-height: 4vmin;
                }
            }
        }
    }

    .report {

        h1 {
            font-size: 5vmin;
            margin-top: 5vmin;
        }

        .categoryBox {
            padding: 0vmin;
            width: 97%;
            margin-bottom: 2vmin;

            li {
                font-size: 2vmin;
            }
        }

        .division {
            @include flexprops(column, center, center);

            .partLeft {
                @include flexprops(column, center, center);
                width: 100%;

                h1 {
                    text-align: center;
                    font-size: 10vmin;
                    margin-bottom: 2.5vmin;
                }

                p {
                    text-align: center;
                    font-size: 4vmin;
                    line-height: 5vmin;
                    font-weight: 400;

                }
            }

            .partRight {
                @include flexprops(column, center, center);
                width: 100%;
                margin-top: 12vmin;

                p {
                    text-align: center;
                }
            }
        }

    }

    .review {
        .swiper {
            height: 110vmin;

            .swiper-slide {
                @include flexprops(column, center, center);

                .text {
                    @include flexprops(row, center, center);
                    height: 50vmin;
                    width: 100%;
                    padding: 0 5vmin;
                    margin-left: 0vmin;

                    .q {
                        @include flexprops(column, start, start);
                        height: 40vmin;
                        transform: scale(0.8);
                        font-family: var(--secondary-font);

                        &:last-child {
                            @include flexprops(column, end, end);
                        }
                    }

                    p {
                        font-family: var(--primary-font);
                        font-size: 3vmin;
                        line-height: 4.5vmin;
                        font-weight: 400;
                        margin-top: 0.5vmin;
                        text-align: left;
                        width: 75%;
                        margin: 0 3vmin;
                        text-align: center;
                    }
                }
            }
        }

    }

    .media {
        .box {
            @include flexprops(row, center, center);
            border-bottom: 1px solid #E0E0E0;
            padding: 5vmin 0;

            .logo {
                width: 20%;
                display: grid;
                place-items: center;

                img {
                    transform: scale(0.35) translateX(-100%);
                }
            }
        }
    }

    .footer {
        @include flexprops(column, start, start);

        b {
            font-size: 2vmin;
            font-weight: 400;
            line-height: 3vmin;
        }

        li {
            font-size: 1.75vmin;
            line-height: 2.5vmin;
            font-weight: 300;
            margin-top: 1.5vmin;
        }

        .down {
            .box1{
                p{
                    display: none;
                }
            }
        }
    }
}